body {
  position: relative;
  background-image: url("http://archive-media-0.nyafuu.com/wsr/image/1459/73/1459735456553.jpg");
  margin: 0
}

* {
  user-select: none;
  font-family: Helvetica, sans-serif;

}

a {
  z-index: 1000;
}

canvas {
  position: absolute;
  z-index: -500;
}

header {
  font-size: 46px;
  background-color: black;
  color:white;
  padding: 10px 0px 10px 20px;
  font-family: Helvetica, sans-serif;
  margin: 0;


}

div#midContainer {
  display: flex;
  justify-content: space-between;

}

div#aboutSection {
  margin-left: 20px;
}

#field {
  height: 500px;
  width: 800px;
  margin-top: 15px;
  border: 2px solid white;
  margin-right: 20px;
}

/*@keyframes spin {
  from {transform: rotateX(0deg) rotateY(0deg);
  }
  to {transform: rotateX(360deg) rotateY(0deg);
  }
}*/



.child {
  position: absolute;
  border: 1px solid black;
  top: 25px;
  left: 0px;
}

body div.target {
  position: absolute;
  border: 1px solid black;
}

/*#field:hover {
  animation: shake 0.4s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}*/

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
